# Dependencias
/node_modules

# Variables de entorno
.env
.env.*

# Archivos de VSCode (opcional, pero común ignorar)
.vscode/

# Logs y archivos de compilación
/dist
/build

# Archivos de Cypress
/cypress/videos/
/cypress/screenshots/

# Archivos de la base de datos o migración 
prisma/*.sql